:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  padding: 1rem;
}

.carousel {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    figure {
      img {
        width: 100%;
        display: block;
        height: auto;
        border-radius: 8px;
      }
    }

    p {
      margin-top: 8px;
      font-size: 16px;
      font-weight: 800;
      color: var(--text-h);
      text-align: center;
    }
  }
}