:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  --text-h: #34a2a2;
  --text: #210303;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

html {
  padding: 1rem;
}

.title {
  font-size: 32px;
  color: var(--text-h);
  text-align: center;
  padding-bottom: 24px;
}


.carousel-wrapper {
  color: var(--text);
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;

  .carousel {
    max-width: 640px;
    position: relative;

    .cards-wrapper {

      display: flex;

      .cards {
        display: flex;
        transition: transform .5s ease;

        .card {
          transition: opacity .3s;
  
          min-width: 640px;

          &:not(.active) {
            opacity: 0.5;
          }

          figure {
            height: 480px;

            img {
              width: 100%;
              display: block;
              height: 100%;
              object-fit: cover;
              border-radius: 8px;
            }
          }

          p {
            color: var(--text);
            margin-top: 8px;
            font-size: 16px;
            font-weight: 800;
            text-align: center;
          }
        }
      }

    }

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      font-size: 20px;

      &.left {

        left: 0;
      }

      &.right {
    
        right: 0;
      }
    }

    .bullets {
      display: flex;
      justify-content: center;
    }
  }
}