:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  --text-h: #34a2a2;
  --text: #210303;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

html {
  padding: 1rem;
}

.title {
  font-size: 32px;
  color: var(--text-h);
  text-align: center;
  padding-bottom: 24px;
}


.carousel {
  color: var(--text);
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    order: 2;
    color: var(--text);
    figure {
      img {
        width: 100%;
        display: block;
        height: auto;
        border-radius: 8px;
      }
    }

    p {
      color: var(--text);
      margin-top: 8px;
      font-size: 16px;
      font-weight: 800;
   
      text-align: center;
    }
  }

  .arrow {
    margin: 8px;
    &.left {
      order: 1;
    }

    &.right {
      order: 3;
    }
  }
}